
# Blacklist
# ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬

# ALL files & folders
*

# Whitelist
# ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬

!/.gitattributes
!/.gitignore
!/.gitmodules
!/LICENSE
!/.npmrc

!/src
!/src/**

!/**/*.md

!package.json
!package-lock.json
!tsconfig.json

# links this checkout's dependencies to sibling checkouts (packager)
**/package-local.json
