{
  "openapi": "3.0.3",
  "info": {
    "title": "CKAN REST API",
    "version": "2.11.0",
    "description": "OpenAPI 3.1 specification for the CKAN Open Data Portal API, split into subfiles using JSON `$ref` references.\n\n## Architecture\n\nCKAN exposes a single RPC-style **Action API** endpoint. All actions are called by POST (or GET for read-only actions) to:\n\n```\nPOST /api/3/action/{action_name}\nGET  /api/3/action/{action_name}?param=value\n```\n\nEvery response is a JSON envelope `{success, result, error, help}`. Check `success` before using `result`.\n\n## Authentication\n\nPass an API token in the `Authorization` header (preferred) or legacy `X-CKAN-API-Key` header.\nGenerate tokens at **User Profile → Manage → API Tokens** or via `api_token_create`.\n\n## Directory structure\n\n```\nopenapi.json                          ← root entry point\ncomponents/\n  schemas/          (23 files)         ← shared data models\n  parameters/       (4 files)          ← shared parameters\n  responses/        (4 files)          ← shared error responses\n  securitySchemes/  (2 files)\npaths/\n  core_get/         (29 files)         ← read-only CKAN core actions\n  core_create/      (14 files)         ← create actions\n  core_update/      (12 files)         ← update/replace actions\n  core_patch/       (5 files)          ← partial update actions\n  core_delete/      (19 files)         ← delete/purge actions\n  core_file/        (6 files)          ← CKAN 2.12+ File API\n  datastore/        (10 files)         ← ckanext-datastore\n  filestore/        (1 file)           ← DataStore dump download\n  activity/         (15 files)         ← ckanext-activity\n  harvest/          (13 files)         ← ckanext-harvest\n  spatial/          (1 file)           ← ckanext-spatial\n  dcat/             (3 files)          ← ckanext-dcat\n```\n\n## Coverage\n\n**Core API** (ckan.logic.action): `package_*`, `resource_*`, `group_*`, `organization_*`, `user_*`, `tag_*`, `vocabulary_*`, `member_*`, `api_token_*`, `config_option_*`, `job_*`, `file_*`\n\n**ckanext-datastore**: `datastore_create`, `datastore_upsert`, `datastore_search`, `datastore_search_sql`, `datastore_delete`, `datastore_records_delete`, `datastore_info`, `datastore_run_triggers`, `datastore_function_create/delete`\n\n**ckanext-activity**: activity stream listing, creating, diffing, deleting, email notifications\n\n**ckanext-harvest**: `harvest_source_*`, `harvest_job_*`, `harvest_object_*`, `harvesters_info_show`\n\n**ckanext-spatial**: `ext_bbox` bounding-box search extension to `package_search`\n\n**ckanext-dcat**: `/catalog.{format}`, `/dataset/{id}.{format}`, Schema.org structured data\n\n**FileStore (dump)**: `GET /datastore/dump/{resource_id}`",
    "contact": {
      "name": "CKAN Project",
      "url": "https://ckan.org",
      "email": "info@ckan.org"
    },
    "license": {
      "name": "AGPL-3.0",
      "url": "https://www.gnu.org/licenses/agpl-3.0.en.html"
    }
  },
  "servers": [
    {
      "url": "https://demo.ckan.org",
      "description": "CKAN public demo instance"
    },
    {
      "url": "https://{ckan_host}",
      "description": "Your CKAN instance",
      "variables": {
        "ckan_host": {
          "default": "your-ckan-instance.example.com",
          "description": "Hostname of your CKAN deployment"
        }
      }
    }
  ],
  "security": [
    {
      "ApiToken": []
    },
    {
      "XCKANHeader": []
    }
  ],
  "tags": [
    {
      "name": "Packages",
      "description": "Datasets (packages) — the core CKAN content unit. Create, read, update, delete, and search datasets."
    },
    {
      "name": "Resources",
      "description": "Data resources attached to datasets. Supports FileStore uploads (multipart/form-data) and external URL links."
    },
    {
      "name": "Groups",
      "description": "Thematic collections grouping related datasets."
    },
    {
      "name": "Organizations",
      "description": "Publisher organizations that own and manage datasets."
    },
    {
      "name": "Users",
      "description": "User accounts, profiles, and roles."
    },
    {
      "name": "Tags",
      "description": "Free tags and controlled vocabulary terms for dataset tagging."
    },
    {
      "name": "Members",
      "description": "Membership management for groups and organizations."
    },
    {
      "name": "Following",
      "description": "Follow / unfollow datasets, users, and groups."
    },
    {
      "name": "Auth",
      "description": "API token management (create, list, revoke)."
    },
    {
      "name": "Jobs",
      "description": "Background job queue (list, show, cancel). Sysadmin only."
    },
    {
      "name": "System",
      "description": "Site status, license list, configuration options."
    },
    {
      "name": "FileStore",
      "description": "CKAN FileStore: file uploads via resource_create/update, DataStore dump downloads, and CKAN 2.12+ File API."
    },
    {
      "name": "DataStore",
      "description": "ckanext-datastore: structured tabular storage with search, filter, upsert, SQL queries, and trigger functions."
    },
    {
      "name": "Activity",
      "description": "ckanext-activity: activity streams and audit trail for all CKAN objects."
    },
    {
      "name": "Harvest",
      "description": "ckanext-harvest: remote metadata ingestion from CKAN, WAF, CSW, DCAT, and other sources."
    },
    {
      "name": "Spatial",
      "description": "ckanext-spatial: spatial bounding box search extension to package_search."
    },
    {
      "name": "DCAT",
      "description": "ckanext-dcat: RDF/DCAT catalog and dataset serialization endpoints (Turtle, JSON-LD, RDF/XML)."
    }
  ],
  "paths": {
    "/api/3/action/package_list": {
      "get": {
        "tags": [
          "Packages"
        ],
        "operationId": "package_list",
        "summary": "List dataset names",
        "description": "Return a list of the names of the site's datasets (packages). GET-able.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Max datasets per page.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of dataset name strings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      },
      "post": {
        "tags": [
          "Packages"
        ],
        "operationId": "package_list_post",
        "summary": "List dataset names (POST)",
        "description": "Same as GET, via POST body.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "limit": {
                    "type": "integer"
                  },
                  "offset": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of dataset name strings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/3/action/package_show": {
      "get": {
        "tags": [
          "Packages"
        ],
        "operationId": "package_show",
        "summary": "Get a dataset",
        "description": "Return the metadata of a dataset (package) and its resources.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Dataset id or name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "use_default_schema",
            "in": "query",
            "description": "If True, use the default schema instead of any custom one.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_tracking",
            "in": "query",
            "description": "Include page-view tracking info.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset dict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/3/action/package_search": {
      "get": {
        "tags": [
          "Packages"
        ],
        "operationId": "package_search",
        "summary": "Search datasets with Solr",
        "description": "Searches for packages satisfying a given search criteria. Backed by Solr. Supports full-text search, filters, faceting, sorting, and spatial filtering (via `ext_bbox` when ckanext-spatial is enabled).",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Solr full-text search query. Default `\"*:*\"`.",
            "schema": {
              "type": "string",
              "example": "government spending"
            }
          },
          {
            "name": "fq",
            "in": "query",
            "description": "Solr filter query. Can be repeated. E.g. `tags:economy` or `organization:my-org`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fq_list",
            "in": "query",
            "description": "JSON array of filter queries.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort expression. Default `score desc, metadata_modified desc`.",
            "schema": {
              "type": "string",
              "example": "metadata_modified desc"
            }
          },
          {
            "name": "rows",
            "in": "query",
            "description": "Number of results to return (default 10).",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Offset into result set.",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "facet.field",
            "in": "query",
            "description": "JSON array of fields to facet on. E.g. `[\"tags\",\"organization\"]`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "facet.limit",
            "in": "query",
            "description": "Max facet values returned.",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "facet.mincount",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "include_drafts",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_deleted",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "include_private",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ext_bbox",
            "in": "query",
            "description": "(ckanext-spatial) Bounding box filter `minx,miny,maxx,maxy`.",
            "schema": {
              "type": "string",
              "example": "-7.5,49.2,3.9,57.4"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      },
      "post": {
        "tags": [
          "Packages"
        ],
        "operationId": "package_search_post",
        "summary": "Search datasets with Solr (POST)",
        "description": "Same as GET. POST is preferred for complex or long queries.",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "q": {
                    "type": "string"
                  },
                  "fq": {
                    "type": "string"
                  },
                  "sort": {
                    "type": "string"
                  },
                  "rows": {
                    "type": "integer"
                  },
                  "start": {
                    "type": "integer"
                  },
                  "facet.field": {
                    "type": "string"
                  },
                  "ext_bbox": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/3/action/current_package_list_with_resources": {
      "get": {
        "tags": [
          "Packages"
        ],
        "operationId": "current_package_list_with_resources",
        "summary": "List recent datasets with resources",
        "description": "Return a list of the site's datasets and their resources, sorted by most-recently-modified first.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Deprecated. Use `offset`.",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of dataset dicts with resources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/3/action/package_autocomplete": {
      "get": {
        "tags": [
          "Packages"
        ],
        "operationId": "package_autocomplete",
        "summary": "Autocomplete dataset names",
        "description": "Return a list of datasets (packages) that match a string.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Partial dataset name or title to search for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching dataset names",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/3/action/resource_show": {
      "get": {
        "tags": [
          "Resources"
        ],
        "operationId": "resource_show",
        "summary": "Get a resource",
        "description": "Return the metadata of a resource.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Resource id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_tracking",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource dict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/3/action/resource_search": {
      "get": {
        "tags": [
          "Resources"
        ],
        "operationId": "resource_search",
        "summary": "Search resources",
        "description": "Return a list of resources matching the query.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Field match query as `field:value`. Multiple allowed, separated by `+`.",
            "schema": {
              "type": "string",
              "example": "name:District Names"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching resources",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/3/action/resource_view_list": {
      "get": {
        "tags": [
          "Resources"
        ],
        "operationId": "resource_view_list",
        "summary": "List resource views",
        "description": "Return the list of resource views for a given resource.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Resource id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of resource view dicts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/3/action/format_autocomplete": {
      "get": {
        "tags": [
          "Resources"
        ],
        "operationId": "format_autocomplete",
        "summary": "Autocomplete resource formats",
        "description": "Return a list of resource formats whose names match a string.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching format strings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/3/action/group_list": {
      "get": {
        "tags": [
          "Groups"
        ],
        "operationId": "group_list",
        "summary": "List groups",
        "description": "Return a list of the names of the site's groups.",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "Sort field and order. Allowed: `name`, `package_count`, `title`. Default `title asc`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "all_fields",
            "in": "query",
            "description": "Return full group dicts instead of just names.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_extras",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_users",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_groups",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_dataset_count",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "groups",
            "in": "query",
            "description": "Comma-separated or repeated list of group names to filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group names or dicts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/3/action/group_show": {
      "get": {
        "tags": [
          "Groups"
        ],
        "operationId": "group_show",
        "summary": "Get a group",
        "description": "Return the details of a group.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_datasets",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_extras",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "include_users",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "include_groups",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "include_tags",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "include_followers",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Group dict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/3/action/organization_list": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "operationId": "organization_list",
        "summary": "List organizations",
        "description": "Return a list of the names of the site's organizations.",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "all_fields",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_extras",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_users",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_dataset_count",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization names or dicts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/3/action/organization_show": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "operationId": "organization_show",
        "summary": "Get an organization",
        "description": "Return the details of an organization.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_datasets",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_extras",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "include_users",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "include_groups",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "include_tags",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "include_followers",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Organization dict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/3/action/organization_autocomplete": {
      "get": {
        "tags": [
          "Organizations"
        ],
        "operationId": "organization_autocomplete",
        "summary": "Autocomplete organization names",
        "description": "Return a list of organization names matching a string.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching organization dicts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/3/action/user_list": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "user_list",
        "summary": "List users",
        "description": "Return a list of the site's user accounts. Requires authentication. Sysadmin sees all users; editors see only users in shared orgs.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query on username and full name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "openid",
                "fullname",
                "about",
                "created"
              ],
              "default": "name"
            }
          },
          {
            "name": "all_fields",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "security": [
          {
            "ApiToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "User dicts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/3/action/user_show": {
      "get": {
        "tags": [
          "Users"
        ],
        "operationId": "user_show",
        "summary": "Get a user",
        "description": "Return a user account.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "User id or name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_datasets",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_num_followers",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "include_password_hash",
            "in": "query",
            "description": "Sysadmin only.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User dict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/3/action/tag_list": {
      "get": {
        "tags": [
          "Tags"
        ],
        "operationId": "tag_list",
        "summary": "List tags",
        "description": "Return a list of the site's tags.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Search string to filter tags.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vocabulary_id",
            "in": "query",
            "description": "Return only tags from this vocabulary.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "all_fields",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag names or dicts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/3/action/tag_show": {
      "get": {
        "tags": [
          "Tags"
        ],
        "operationId": "tag_show",
        "summary": "Get a tag",
        "description": "Return the details of a tag and the datasets tagged with it.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Tag id or name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vocabulary_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_datasets",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tag dict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/3/action/tag_autocomplete": {
      "get": {
        "tags": [
          "Tags"
        ],
        "operationId": "tag_autocomplete",
        "summary": "Autocomplete tags",
        "description": "Return a list of tags whose names match a string.",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "vocabulary_id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching tag names",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/3/action/vocabulary_list": {
      "get": {
        "tags": [
          "Tags"
        ],
        "operationId": "vocabulary_list",
        "summary": "List tag vocabularies",
        "description": "Return a list of all the site's tag vocabularies.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of vocabulary dicts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/3/action/vocabulary_show": {
      "get": {
        "tags": [
          "Tags"
        ],
        "operationId": "vocabulary_show",
        "summary": "Get a vocabulary",
        "description": "Return a single tag vocabulary.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vocabulary dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/3/action/license_list": {
      "get": {
        "tags": [
          "System"
        ],
        "operationId": "license_list",
        "summary": "List available licenses",
        "description": "Return the list of licenses available for datasets on the site.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of license dicts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/3/action/status_show": {
      "get": {
        "tags": [
          "System"
        ],
        "operationId": "status_show",
        "summary": "Get site status",
        "description": "Return a dict with information about the site, including CKAN version, enabled extensions, and site title. No authentication required.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Site status information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/3/action/help_show": {
      "get": {
        "tags": [
          "System"
        ],
        "operationId": "help_show",
        "summary": "Get action help text",
        "description": "Return the help string for a particular API action function.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "description": "Action function name.",
            "schema": {
              "type": "string",
              "example": "package_show"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Help text string",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/3/action/api_token_list": {
      "get": {
        "tags": [
          "Auth"
        ],
        "operationId": "api_token_list",
        "summary": "List API tokens",
        "description": "Return a list of API tokens for a user.",
        "parameters": [
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "description": "User id or name.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of API token dicts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/3/action/config_option_list": {
      "get": {
        "tags": [
          "System"
        ],
        "operationId": "config_option_list",
        "summary": "List editable config options",
        "description": "Return a list of runtime-editable configuration keys. Sysadmin only.",
        "parameters": [],
        "security": [
          {
            "ApiToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of config keys",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/3/action/config_option_show": {
      "get": {
        "tags": [
          "System"
        ],
        "operationId": "config_option_show",
        "summary": "Get a config option value",
        "description": "Return the current value of a runtime-editable configuration option. Sysadmin only.",
        "parameters": [
          {
            "name": "key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Config value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/3/action/job_list": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "operationId": "job_list",
        "summary": "List background jobs",
        "description": "Return a list of enqueued background jobs. Sysadmin only.",
        "parameters": [
          {
            "name": "queues",
            "in": "query",
            "description": "JSON array of queue names to filter by.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Job list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/3/action/job_show": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "operationId": "job_show",
        "summary": "Get a background job",
        "description": "Return information about a background job. Sysadmin only.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Job id.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "ApiToken": []
          }
        ],
        "responses": {
          "200": {
            "description": "Job dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/3/action/package_create": {
      "post": {
        "tags": [
          "Packages"
        ],
        "operationId": "package_create",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Create a dataset",
        "description": "Create a new dataset (package). The dataset name must be unique, lowercase, URL-safe. To upload resources, use `resource_create` after creation, or use `resources` array in this call.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Unique URL-safe lowercase name (required)."
                  },
                  "title": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string",
                    "description": "Description (Markdown supported)."
                  },
                  "owner_org": {
                    "type": "string",
                    "description": "Organization id or name."
                  },
                  "private": {
                    "type": "boolean",
                    "default": false
                  },
                  "license_id": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  },
                  "version": {
                    "type": "string"
                  },
                  "author": {
                    "type": "string"
                  },
                  "author_email": {
                    "type": "string"
                  },
                  "maintainer": {
                    "type": "string"
                  },
                  "maintainer_email": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "extras": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Extra"
                    }
                  },
                  "resources": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Resource"
                    }
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created dataset dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/3/action/resource_create": {
      "post": {
        "tags": [
          "Resources"
        ],
        "operationId": "resource_create",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Create a resource",
        "description": "Appends a new resource to a dataset. To upload a file to the FileStore, send as `multipart/form-data` with the binary in the `upload` field. For external URL resources, provide `url` in JSON.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "package_id"
                ],
                "properties": {
                  "package_id": {
                    "type": "string",
                    "description": "Dataset id or name."
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string",
                    "description": "External URL (for linked resources)."
                  },
                  "format": {
                    "type": "string",
                    "example": "CSV"
                  },
                  "mimetype": {
                    "type": "string"
                  },
                  "resource_type": {
                    "type": "string"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "package_id"
                ],
                "properties": {
                  "package_id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "upload": {
                    "type": "string",
                    "format": "binary",
                    "description": "File to upload to the FileStore."
                  },
                  "format": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created resource dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/3/action/group_create": {
      "post": {
        "tags": [
          "Groups"
        ],
        "operationId": "group_create",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Create a group",
        "description": "Create a new group.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "image_url": {
                    "type": "string"
                  },
                  "extras": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Extra"
                    }
                  },
                  "packages": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created group dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/3/action/organization_create": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "operationId": "organization_create",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Create an organization",
        "description": "Create a new organization.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "image_url": {
                    "type": "string"
                  },
                  "extras": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Extra"
                    }
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created organization dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/3/action/user_create": {
      "post": {
        "tags": [
          "Users"
        ],
        "operationId": "user_create",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Create a user",
        "description": "Create a new user account. Requires sysadmin or appropriate privilege.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  },
                  "fullname": {
                    "type": "string"
                  },
                  "about": {
                    "type": "string"
                  },
                  "image_url": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "email",
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created user dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/3/action/vocabulary_create": {
      "post": {
        "tags": [
          "Tags"
        ],
        "operationId": "vocabulary_create",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Create a tag vocabulary",
        "description": "Create a new tag vocabulary.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created vocabulary dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/3/action/tag_create": {
      "post": {
        "tags": [
          "Tags"
        ],
        "operationId": "tag_create",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Create a tag in a vocabulary",
        "description": "Create a new tag and add it to a vocabulary.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "vocabulary_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "vocabulary_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created tag dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/3/action/member_create": {
      "post": {
        "tags": [
          "Members"
        ],
        "operationId": "member_create",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Add a member to a group",
        "description": "Make an object (dataset or user) a member of a group or organization.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Group/org id or name."
                  },
                  "object": {
                    "type": "string",
                    "description": "Id of the user or dataset to add."
                  },
                  "object_type": {
                    "type": "string",
                    "enum": [
                      "user",
                      "package"
                    ]
                  },
                  "capacity": {
                    "type": "string",
                    "enum": [
                      "member",
                      "editor",
                      "admin"
                    ],
                    "default": "member"
                  }
                },
                "required": [
                  "id",
                  "object",
                  "object_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created membership dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/3/action/package_collaborator_create": {
      "post": {
        "tags": [
          "Packages"
        ],
        "operationId": "package_collaborator_create",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Add a dataset collaborator",
        "description": "Add a user as a collaborator on a dataset. Requires `ckan.auth.allow_dataset_collaborators = True`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Dataset id or name."
                  },
                  "user_id": {
                    "type": "string"
                  },
                  "capacity": {
                    "type": "string",
                    "enum": [
                      "editor",
                      "member"
                    ]
                  }
                },
                "required": [
                  "id",
                  "user_id",
                  "capacity"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Collaborator dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/3/action/api_token_create": {
      "post": {
        "tags": [
          "Auth"
        ],
        "operationId": "api_token_create",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Create an API token",
        "description": "Generate a new API token for the authenticated user. Returns the raw token once — save it securely.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "string",
                    "description": "User id or name."
                  },
                  "name": {
                    "type": "string",
                    "description": "A label for the token."
                  }
                },
                "required": [
                  "user",
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New token dict with `token` value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/3/action/resource_view_create": {
      "post": {
        "tags": [
          "Resources"
        ],
        "operationId": "resource_view_create",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Create a resource view",
        "description": "Add a view to a resource (e.g. datatables_view, image_view, recline_view).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "resource_id": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "view_type": {
                    "type": "string",
                    "example": "datatables_view"
                  },
                  "description": {
                    "type": "string"
                  }
                },
                "required": [
                  "resource_id",
                  "title",
                  "view_type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created resource view dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/3/action/follow_dataset": {
      "post": {
        "tags": [
          "Following"
        ],
        "operationId": "follow_dataset",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Follow a dataset",
        "description": "Start following a dataset. Requires authentication.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Follow dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/3/action/follow_user": {
      "post": {
        "tags": [
          "Following"
        ],
        "operationId": "follow_user",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Follow a user",
        "description": "Start following a user.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Follow dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/3/action/follow_group": {
      "post": {
        "tags": [
          "Following"
        ],
        "operationId": "follow_group",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Follow a group",
        "description": "Start following a group or organization.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Follow dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/3/action/package_update": {
      "post": {
        "tags": [
          "Packages"
        ],
        "operationId": "package_update",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Update a dataset (full replace)",
        "description": "Update a dataset. All fields present in the `package_create` action are available. Fields not included are reset to their defaults (full replace semantics). Use `package_patch` for partial updates.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Dataset id or name (required)."
                  },
                  "name": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "notes": {
                    "type": "string"
                  },
                  "owner_org": {
                    "type": "string"
                  },
                  "private": {
                    "type": "boolean"
                  },
                  "license_id": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "extras": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Extra"
                    }
                  },
                  "resources": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Resource"
                    }
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated dataset dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/3/action/package_revise": {
      "post": {
        "tags": [
          "Packages"
        ],
        "operationId": "package_revise",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Revise a dataset (selective field update)",
        "description": "Update a dataset with precise field-level control using `update`, `filter`, and `match` keys. Allows adding/removing list entries (tags, resources, extras) by index without fetching the whole record.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "match": {
                    "type": "object",
                    "description": "Dict of field/value pairs that must match the current dataset state."
                  },
                  "filter": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "JSON Pointer paths to remove."
                  },
                  "update": {
                    "type": "object",
                    "description": "Field/value pairs to set (merged into existing). Use `+` prefix to append to lists."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Revised dataset dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/3/action/resource_update": {
      "post": {
        "tags": [
          "Resources"
        ],
        "operationId": "resource_update",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Update a resource (full replace)",
        "description": "Update a resource. For FileStore uploads, send as `multipart/form-data` with `upload` binary field. Full replace — all fields not provided are cleared.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "url": {
                    "type": "string"
                  },
                  "format": {
                    "type": "string"
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "upload": {
                    "type": "string",
                    "format": "binary"
                  },
                  "name": {
                    "type": "string"
                  },
                  "format": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated resource dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/3/action/group_update": {
      "post": {
        "tags": [
          "Groups"
        ],
        "operationId": "group_update",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Update a group",
        "description": "Update a group. Full replace semantics.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "image_url": {
                    "type": "string"
                  },
                  "extras": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Extra"
                    }
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated group dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/3/action/organization_update": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "operationId": "organization_update",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Update an organization",
        "description": "Update an organization. Full replace semantics.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "image_url": {
                    "type": "string"
                  },
                  "extras": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Extra"
                    }
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated organization dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/3/action/user_update": {
      "post": {
        "tags": [
          "Users"
        ],
        "operationId": "user_update",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Update a user",
        "description": "Update a user. Users can update their own account; sysadmins can update any user.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "fullname": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "about": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  },
                  "image_url": {
                    "type": "string"
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated user dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/3/action/vocabulary_update": {
      "post": {
        "tags": [
          "Tags"
        ],
        "operationId": "vocabulary_update",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Update a vocabulary",
        "description": "Update a tag vocabulary.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated vocabulary dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/3/action/package_owner_org_update": {
      "post": {
        "tags": [
          "Packages"
        ],
        "operationId": "package_owner_org_update",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Transfer a dataset to another organization",
        "description": "Change the owning organization of a dataset.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Dataset id or name."
                  },
                  "organization_id": {
                    "type": "string",
                    "description": "Target organization id. Pass empty string to remove org affiliation."
                  }
                },
                "required": [
                  "id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated dataset dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/3/action/bulk_update_private": {
      "post": {
        "tags": [
          "Packages"
        ],
        "operationId": "bulk_update_private",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Make datasets private in bulk",
        "description": "Mark datasets in an organization as private. Sysadmin or org admin only.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "datasets": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "org_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "datasets",
                  "org_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/3/action/bulk_update_public": {
      "post": {
        "tags": [
          "Packages"
        ],
        "operationId": "bulk_update_public",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Make datasets public in bulk",
        "description": "Mark datasets in an organization as public.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "datasets": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "org_id": {
                    "type": "string"
                  }
                },
                "required": [
                  "datasets",
                  "org_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/3/action/config_option_update": {
      "post": {
        "tags": [
          "System"
        ],
        "operationId": "config_option_update",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Update runtime config options",
        "description": "Update CKAN runtime configuration options. Sysadmin only. Changes apply immediately without restart.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true,
                "description": "Key-value pairs of config options to set."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated config dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/3/action/resource_view_reorder": {
      "post": {
        "tags": [
          "Resources"
        ],
        "operationId": "resource_view_reorder",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Reorder resource views",
        "description": "Reorder the views of a resource.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Resource id."
                  },
                  "order": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Ordered list of view ids."
                  }
                },
                "required": [
                  "id",
                  "order"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resource views in new order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          }
        }
      }
    },
    "/api/3/action/package_patch": {
      "post": {
        "tags": [
          "Packages"
        ],
        "operationId": "package_patch",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Partially update a dataset",
        "description": "Update only the provided fields of a dataset. Unspecified fields retain their current values. Contrast with `package_update` which does a full replace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated dataset dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/3/action/resource_patch": {
      "post": {
        "tags": [
          "Resources"
        ],
        "operationId": "resource_patch",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Partially update a resource",
        "description": "Update only the provided fields of a resource. Unspecified fields retain their current values. Contrast with `resource_update` which does a full replace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated resource dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/3/action/group_patch": {
      "post": {
        "tags": [
          "Groups"
        ],
        "operationId": "group_patch",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Partially update a group",
        "description": "Update only the provided fields of a group. Unspecified fields retain their current values. Contrast with `group_update` which does a full replace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated group dict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActionResponse"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/api/3/action/organization_patch": {
      "post": {
        "tags": [
          "Organizations"
        ],
        "operationId": "organization_patch",
        "security": [
          {
            "ApiToken": []
          }
        ],
        "summary": "Partially update a organization",
        "description": "Update only the provided fields of a organization. Unspecified fields retain their current values. Contrast with `organization_update` which does a full replace.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  },
                  "title": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated organization dict",
            "content": {
[...]
